.languageSwitcher {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px;
}

.language {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  color: var(--color-white);
}

.languageSwitcher input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.languageSwitcher label {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.languageSwitcher label:before {
  content: '';
  width: 28px;
  height: 60px;
  background: linear-gradient(var(--color-bg-secondary), var(--color-bg-secondary)) no-repeat center;
  background-size: 2px 64px;
  display: inline-block;
  transition: 0.2s ease-in;
}
.languageSwitcher label:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border: 6px solid var(--color-bg-secondary);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 2;
  background: var(--color-white);
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.languageSwitcher input[type="checkbox"]:checked + label:before {
  background-image: linear-gradient(var(--color-bg-neon), var(--color-bg-neon));
}
.languageSwitcher input[type="checkbox"]:checked + label:after {
  top: 32px;
  border-color: var(--color-bg-neon);
}

.language__option {
  color: var(--color-bg-secondary);
}

.language__option.active {
  color: var(--color-bg-neon);
}

.language span {
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.language span:hover {
  color: var(--color-bg-neon);
}