.header {
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1024px) {
    justify-content: right;
    gap: 20px;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  z-index: 3;

  @media (max-width: 1024px) {
    display: none;
  }
}

.burger {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  position: relative;
  z-index: 15;

  @media (max-width: 1024px) {
    display: flex;
  }
}

.header__menu {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}

.header__mobileMenu {
  position: absolute;
  top: 36px;
  right: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  z-index: 14;
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius);
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 12;
}