@import url('./vendor/fonts/fonts.css');
@import './vendor/styles/_variables.css';

body {
  margin: 0;
  font-family: 'JuraLight';
  background-color: var(--color-bg-main);
  overflow-x: hidden;
  box-sizing: border-box;
}

button {
  font-family: 'JuraLight';
}

section {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* {
  border: solid 3px red;
}